<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <title>Discentes</title>

    <% include partes/scripts-base %>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include partes/header %>
        
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
          <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
              
              <% switch(id_tipo_usuario){ 
                  case 2:    %>  
                        <li ><a href="/coordenador/indicadores"><i class="fa fa-area-chart"></i> <span>Indicadores</span></a></li>
                        <li class="active"><a href="/discentes/filtro"><i class="fa fa-book"></i> <span>Discentes</span></a></li>
                  <% break;
                  case 5: %> 
                        <li ><a href="/secretaria/aprovacoes"><i class="glyphicon glyphicon-ok"></i> <span>Aprovações</span></a></li>     
                        <li class="active"><a href="/discentes/filtro"><i class="fa fa-book"></i> <span>Discentes</span></a></li>
                  <% break; 
                  case 3: %> 
                  
              <% break;
                }%>  

              
              
            </ul>
            <!-- /.sidebar-menu -->
          </section>
          <!-- /.sidebar -->
        </aside>
      
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
              Discentes
              
            </h1>
            
          </section>

          <section class="col-lg-12">
                <div class="box box-info box-body">
                    <div class="box-header ui-sortable-handle" >
                        <i class="fa fa-pencil"></i>
                        <h3 class="box-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Filtros: </font></font></h3>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Situacao dos discentes:</label>
                            <select class="form-control" id="filtro_situacao">
                              <option value="0">Todos</option>
                              <option value="1">Ativo</option>
                              <option value="2">Inativo</option>
                              <option value="3">Egresso</option>
                            </select>
                          </div>
                          
                    </div>
                    <div class="col-lg-6">
                        <div  class="form-group ">
                            <label for="nomeDiscente">Nome: </label>
                            <input  type="text" class="form-control" id="discente_nome">
                          </div>
                    </div>

                    <div id="carregando_filtro" class="col-lg-6 remover">
                        <label>&nbsp;</label>
                        <div class="form-control" style="color:green;">
                          Carregando...
                        </select>
                    </div>
                </div>
            </section>
      
          <!-- Main content -->
          <section class="content container-fluid col-lg-12 ">
                <div class="box-body table-responsive no-padding box box-info">
                    <table  class="table table-hover">
                        <tbody id="tabela_discentes">
                            <tr>
                                <th>Nome</th>
                                <th>Lattes</th>
                                <th>Visualizar/Editar</th>
                            </tr>
                            <!-- for(var i = 0 ; i< discentes.length ;i++){ 
                             <tr>
                                 <td>= discentes[i].nome + " " + discentes[i].sobrenome </td>
                                 <td>= discentes[i].email </td>
                             </tr>
                              } -->
                         </tbody>
                 
                    </table>
                </div>
      
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
      
        
      
       
      <meta name='yourdata' content='<%- id_tipo_usuario  %>'/>
  
      </div>
      </body>

      <script>
            var filtro_idSituacao = '<%- idSituacao  %>';
            $('#filtro_situacao').val(filtro_idSituacao);
      </script>
      <script src="../javascripts/discente-filtro.js"></script>
      </html>