<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Consultar Discentes | Teste</title>

    <% include partes/scripts-base %>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include partes/header %>
        
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
          <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
              <!-- Optionally, you can add icons to the links -->
              <% if(idUsuario == 1)
              { %>
                  <li ><a href="/coordenador/indicadores"><i class="fa fa-area-chart"></i> <span>Indicadores</span></a></li>
              <% } else {

              %>
                  <li ><a href="/secretaria/aprovacoes"><i class="glyphicon glyphicon-ok"></i> <span>Aprovações</span></a></li>
                <%
              }%>
              <li class="active"><a href="/discentes/filtro"><i class="fa fa-book"></i> <span>Discentes</span></a></li>
            </ul>
            <!-- /.sidebar-menu -->
          </section>
          <!-- /.sidebar -->
        </aside>
      
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
              Discentes
              
            </h1>
            
          </section>
      
          <!-- Main content -->
          <section class="content container-fluid">
                <div class="box-body table-responsive no-padding ">
                    <table id="tabela_discentes" class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                            </tr>
                            <% for(var i = 0 ; i< discentes.length ;i++){ %>
                             <tr>
                                 <td><%= discentes[i].nome + " " + discentes[i].sobrenome %></td>
                                 <td><%= discentes[i].email %></td>
                                 <td><a href= "<%='../discentes/alterar?id='+discentes[i].id_discente%>" class="glyphicon glyphicon-pencil" TITLE="Alterar dados do discente"></a></td>
                             </tr>
                             <% } %>
                         </tbody>
                 
                    </table>
                </div>
      
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
      
        
      
       
        
      </div>
      </body>
      </html>