<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Discentes / Registro</title>

    <% include partes/scripts-base %>

</head>
<body >
    <div class="backSite wrapper ">
        
        <div class="container " >
                <section class="content-header">
                        <h1> Registro de Discente </h1>
                </section>
        </div>
        
    </div>
</body>
</html>