<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Discentes / Registro</title>
    <!-- Select2 -->
    <link rel="stylesheet" href="../bower_components/select2/dist/css/select2.min.css">

    <% include partes/scripts-base %>
    <script src="../plugins/input-mask/jquery.inputmask.js"></script>
    <script src="../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="../plugins/input-mask/jquery.inputmask.extensions.js"></script>
    

</head>
<body >
    <div class="backSite wrapper ">
        
        <div class="container " >
                <div style="margin:30px;">
                <section class="content-header" >
                        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2" >
                            <img src="https://www5.unioeste.br/eventos/identidadevisual/LOGOTIPOUNIOESTE.png" width="100%;" />
                        </div>
                        <h1 style="float:right;">
                                <b>PPGTGS</b>
                          
                        </h1>
                        
                </section>
                </div>
                
                <div class="col-md-12" style="margin-top:30px;">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                              <h1 class="box-title">Registro de Discente</h1>
                            </div>
                            <form role="form" >
                              <div class="box-body">
                                  Seu registro foi realizado com sucesso.
                            </div></form>
                  </div>
        </div>
        
    </div>
</body>
</html>