<!DOCTYPE html>
<html>
  <head>
    <title>Não Autorizado!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Você não possui autorização para visualizar esta página.</h1>
  </body>
</html>
