<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Aprovação de entrada</title>

    <% include partes/scripts-base %>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include partes/header %>
        

        <aside class="main-sidebar">
          <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
        <!-- Left side column. contains the logo and sidebar -->
        <% switch(id_tipo_usuario){ 
          case 2:    %>  
                <li class="active"><a href="/coordenador/indicadores"><i class="fa fa-area-chart"></i> <span>Indicadores</span></a></li>
                <li ><a href="/discentes/filtro"><i class="fa fa-book"></i> <span>Discentes</span></a></li>
          <% break;
          case 5: %> 
                <li class="active"><a href="/secretaria/aprovacoes"><i class="glyphicon glyphicon-ok"></i> <span>Aprovações</span></a></li>     
                <li ><a href="/discentes/filtro"><i class="fa fa-book"></i> <span>Discentes</span></a></li>
          <% break; 
          case 3: %> 
          <li class="active"><a href="/discentes/visualizar?id=<%= id_usuario %>"><i class="glyphicon glyphicon-ok"></i> <span>MEU PERFIL</span></a></li>          
      <% break;
        }%>  
          
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

      
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
              Solicitações de entrada no sistema PPGTGS
              
            </h1>
            
          </section>
      
          <!-- Main content -->
          <section class="content container-fluid col-lg-12 ">
                <div class="box-body table-responsive no-padding box box-info">
                    <table  class="table table-hover">
                        <tbody id="tabela_discentes">
                            <tr>
                                <th>Nome</th>
                                <th>email</th>
                                <th>CPF</th>
                                <th>RG</th>
                                <th></th>
                            </tr>
                            <!-- for(var i = 0 ; i< discentes.length ;i++){ 
                             <tr>
                                 <td>= discentes[i].nome + " " + discentes[i].sobrenome </td>
                                 <td>= discentes[i].email </td>
                             </tr>
                              } -->
                         </tbody>
                 
                    </table>
                </div>
      
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
      
        
      
       
        
      </div>
      </body>

      <script>
            var filtro_status_Cadastro = '<%- status_Cadastro  %>';
            $('#filtro_status').val(filtro_status_Cadastro);
            
      </script>
      <script src="../../../javascripts/secretaria-aprovacao.js"></script>
      </html>