<!-- Main Header -->
<header class="main-header">
      
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img style="width: 30px; height:auto; margin-top: 15px;" src="/img/unioeste_simbolo.png"></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img style="width: 30px; height:auto;" src="/img/unioeste_simbolo.png"><b>&nbsp;PPGTGS</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <div class="pull-right">
              <a href="/login" style="margin:7px;" class="btn btn-danger btn-md">
                <span class="glyphicon glyphicon-log-out"></span> Sair
              </a>
          </div>          
        </ul>
      </div>

    </nav>
  </header>