<!DOCTYPE html>
<html>
  <head>
    <title>Topicos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
  </head>
  <body>
    <h1>Tópicos Avançados</h1>
    <p>Bem vindo <%= email %></p>

   

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </body>

  <script>
    var dadosGrafico = '<%-JSON.stringify(grafico) %>'; 
    dadosGrafico = JSON.parse(dadosGrafico);

  Highcharts.chart('container', {
  chart: {
    type: 'column'
  },
  title: {
    text: dadosGrafico.titulo
  },
  xAxis: {
    categories: dadosGrafico.categorias
  },
  subtitle: {
    text: dadosGrafico.subtitulo
  },
  yAxis: {
    title: {
      text: dadosGrafico.tituloY
    }
  },
  tooltip: {
        enabled: false
    },
  legends: {
    enabled: false
  },
  series: [{
    data: dadosGrafico.dados,
    showInLegend: false,
    colorByPoint: true
  }]
})
  
  </script>

</html>
